@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f6f6f6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  background: #fff;
}

.logo h1 {
  color: #0097e6;
}

.nav-items ul {
  display: flex;
  align-items: center;
}

.nav-items ul li {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}

.nav-items ul li a {
  color: #000;
}

.nav-items ul li a:hover {
  color: #00a8ff;
}

.banner-container {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner {
  font-size: 48px;
  background: #fff;
  padding: 0 20px;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .title {
  color: #6256ca;
  font-size: 30px;
  font-weight: 600;
  margin: 40px 0;
}

.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.game-card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.game-card .game-img {
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.game-info h2 {
  margin: 10px 0;
}

.error-page {
  text-align: center;
  margin-top: 50px;
}

.error-code {
  font-size: 100px;
  color: #f00;
}

.error-text {
  font-size: 24px;
}

.view-btn {
  font-weight: 700;
}

.back-btn {
  margin: 20px;
  font-size: 15px;
  padding: 10px 20px;
  background-color: #00a8ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
